:root {
    --darkGray: #30343D;
}

body {
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    width: 100%;
    background-color: var(--darkGray);
    color: palegoldenrod;
    line-height: 1.5;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    background-color: rgb(145, 203, 204, .5);
}

.hero {
    background-image: url(../images/pattern.jfif);
    display: flex;
    justify-content: end;
}

.hero h2 {
    margin: 2%;
    color: palegoldenrod;
    border-right: none;
}

ul {
    display: flex;
    width: 100%;
}

li {
    list-style-type: none;
    padding: 1%;
    font-size: 125%;
}

a{
    color: palegoldenrod;
}

section {
    width: 100%;
}

#about{
    display:flex;
    width: 100%;
    margin: 3%;
}

#about img {
    border-radius: 150px;
    margin-top: 1%;
}

h2 {
    width: 30%;
    text-align: start;
    border-right: 1pt solid palegoldenrod;
    font-size: 200%;
    padding-left: 2%;
}

#about p {
    margin-left: 2%;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 3%;
    height: 100%;
    text-align: center;
}

.works {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    flex-direction: row;
}

#big-project {
    width: 94%;
    justify-content: baseline;
}

.halfsize {
    width: 45%;
}

.card {
    border: .5pt solid palegoldenrod;
    border-radius: 10pt;
    color: var(--darkGray);
    background-color: rgb(238, 232, 170, .6);
    padding: 1%;
}


#gallery div {
    margin: 1%;
}


footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1% 3%;
}

.footernav {
    padding-right: 3%;
}

@media screen  {
    
}