:root {
    --darkGray: #30343D;
}

body {
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    width: 100%;
    background-color: var(--darkGray);
    color: palegoldenrod;
    line-height: 1.5;
}

/*This is the top section, targets my full name and the navigation */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    background-color: rgb(145, 203, 204, .5);
}

ul {
    display: flex;
    width: 100%;
}

li {
    list-style-type: none;
    padding: 1%;
    font-size: 125%;
}

a{
    color: palegoldenrod;
}

/*This targets the blue banner image with UX designer written on top, as in my "position/title" */

.hero {
    background-image: url(../images/pattern.jfif);
    display: flex;
    justify-content: end;
}

.hero h2 {
    margin: 2%;
    color: palegoldenrod;
    border-right: none;
}


/*setting the sections here to 100% width before having to tackle them later with flexbox*/

section {
    width: 100%;
}

/*this targets the about section, I have no idea what to write currently for the paragraphs so using star wars ipsum
.. i place an image inside an h2 tag to keep it on the same side of the line i created... but that is something to try and prevent in the future */

#about{
    display:flex;
    width: 100%;
    margin: 3%;
}

#about img {
    border-radius: 150px;
    margin-top: 1%;
}

h2 {
    width: 30%;
    text-align: start;
    border-right: 1pt solid palegoldenrod;
    font-size: 200%;
    padding-left: 2%;
}

#about p {
    margin-left: 2%;
}

/*the mess that is the gallery of works, making sure that its one larger project above four smaller ones */

#gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 3%;
    height: 100%;
    text-align: center;
}

.works {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    flex-direction: row;
}

/* yum yum the larger project */

#big-project {
    width: 94%;
    justify-content: baseline;
}

.halfsize {
    width: 45%;
}

.card {
    border: .5pt solid palegoldenrod;
    border-radius: 10pt;
    color: var(--darkGray);
    background-color: rgb(238, 232, 170, .6);
    padding: 1%;
}


#gallery div {
    margin: 1%;
}


/*footer... 

need to link email and others... i dont have a twitter or spotify though... instagram maybe and portfolio site?*/

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1% 3%;
}

.footernav {
    padding-right: 3%;
}

/* start of media query section */

@media screen and (max-width: 1281px;) {
    
}